<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User app</title>
    <script src="/js/jquery-3.4.0.min.js"></script>
    <script src="/js/main.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>

<div>
    <h1>Добро пожаловать <span th:text="${user}">text</span></h1>
        <br>

    <br>


    <br>
        <h2>Зарегистрированные друзья</h2>
        <div id="user-list">

            <div th:each="user : ${users}">
            <H2><span th:text="${user.name}">text</span></H2>
            <H3><span th:text="${user.location}"></span>text</H3>
<!---->

<!--                        <a href="#" class="book-link" th:attr="data-id=${book.id}" th:text="${book.name}"></a>&ndash;&gt;-->
            </div>

        </div>



    </div>
</div>
<!--<div id="book-form">-->
<!--    <form>-->
<!--        <h2>Добавление книги</h2>-->
<!--        <label>Название книги:</label>-->
<!--        <input type="text" name="name" value="">-->
<!--        <label>Год выпуска:</label>-->
<!--        <input type="text" name="year" value="">-->
<!--        <hr>-->
<!--        <button id="save-book">Сохранить</button>-->
<!--    </form>-->
<!--</div>-->
<h1>Библиотека (<span th:text="${userCount}">0</span>)</h1>-->
<!--<button id="show-add-book-form">Добавить книгу</button>-->
<!--<br><br>-->
<h2>Заголовок(task count : ${userCount})</h2>
<div id="user-list1">
    <div th:each="user : ${users}">
        <H2><span th:text="${user.location}">text</span></H2>>
        <!--        <a href="#" class="book-link" th:attr="data-id=${book.id}" th:text="${book.name}"></a>-->
    </div>
</div>
<!--<p th:text="${someParameter}"></p>-->
</body>
</html>